body {
    font-family: "Verdana", "Geneva", sans-serif;
    background: linear-gradient(135deg, #0051ff, #a1c8ff);
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(135deg, #aff7ff, #009dff, #aff7ff);
    color: #fff;
    padding: 30px;
    text-align: center;
}
header h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
article {
    padding: 20px;
    margin: 30px;
    border-radius: 6px;
    background-color: #ffffff;
    transition: transform 0.3s;
}
article:hover {
    transform: scale(1.03);
}
article h2 {
    color: #0044ff;
    font-size: 100;
    margin-bottom: 10px;
    border-bottom: 3px solid #6b75ff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
article p {
    font-size: 1.1;
    line-height: 1.8;
}
article {
    background-color: #fef9f3;
}
img {
    display: block;
    margin:auto;
    padding-top: 30px;
    padding-bottom: 40px;
}